{% extends 'blog/base.html' %}

{% block content %}
    <div class="post">
        <h2><a href ="\" style="color:#CC00FF; font-family:宋体">{{post.title}}</a></h2>
        <p>{{ post.text|linebreaksbr }}</p>
        {% if post.published_date %}
            <div class="date">
                {{ post.published_date }}
            </div>
        {% endif %}
        <a class="btn btn-default" href="{% url 'post_edit' pk=post.pk %}"><span class="glyphicon glyphicon-pencil"></span></a>
    </div>
{% endblock %}