{% extends 'blog/base.html' %}

    {% block content %}
        <div style="padding-left:50px; padding-right:50px; padding-top:50px">
        {% for post in posts %}
            <div>
                <h2><a href="{% url 'post_detail' pk=post.pk %}" style="color:#FFFF99; font-family:楷体; ">{{ post.title }}</a></h2>
                <div style="color:#CCFFFF; font-weight:bold;padding-top:5px">
                <p>{{ post.text|linebreaksbr }} </p>
                <div style="color:#FFFF33; padding-top:5px">
                <p>published: {{ post.published_date }}</p>
            </div>
        {% endfor %}
    {% endblock %}
