<html>
    <head>
        <title>Django Girls blog</title>

    </head>

    <body>
        <div>
            <h1><a href="/" style="color:red">Shunyu's Blog</a></h1>


            <p style="color:pink">bigface</p>

        </div>

        {% for post in posts %}
            <div>
                <p>published: {{ post.published_date }}</p>
                <h2><a href="" style="color:blue">{{ post.title }}</a></h2>
                <p>{{ post.text|linebreaksbr }}</p>
            </div>
        {% endfor %}

    </body>
</html>
